# Import the data

In [1]:
import pandas as pd
# tets
link = "https://raw.githubusercontent.com/murpi/wilddata/master/quests/kc_house_data.csv"
#dateparser = lambda x: datetime.strptime(x, "%Y%m%dT%H%M%S")
df = pd.read_csv(link)
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Explore Data Analyse

In [49]:
# Info
# Describe
# Duplicate

# Fill nan (at least 10%)
# Drop or not duplicate / Nan value

# Merge or join (make sure we have enough data)

DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False
, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

#outer join
EXAMPLE: outer_merged = pd.merge(precip_one_station, climate_temp, how="outer", on=["STATION", "DATE"] )
    
  FROM  https://realpython.com/pandas-merge-join-and-concat/
    
# Correlation (heatmap)

DataFrame.corr(method='pearson', min_periods=1)
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html
    
EXAMPLE:  x.corr(y, method='spearman')  

 x.corr(y, method='kendall')

FROM https://realpython.com/numpy-scipy-pandas-correlation-python/
    
HEATMAP 

seaborn.heatmap(data, *, vmin=None, vmax=None, cmap=None, 
                center=None, 
                robust=False, annot=None, 
                fmt='.2g', 
                annot_kws=None, linewidths=0, linecolor='white', cbar=True, cbar_kws=None, 
                cbar_ax=None, square=False, xticklabels='auto', yticklabels='auto', 
                mask=None, ax=None, **kwargs)


    
    EXAMPLE: Plot a heatmap for data centered on 0 with a diverging colormap:

normal_data = np.random.randn(10, 12)
ax = sns.heatmap(normal_data, center=0)

FROM https://seaborn.pydata.org/generated/seaborn.heatmap.html
    
    
# pairplot


    
    seaborn.pairplot(data, *, hue=None, hue_order=None, palette=None, vars=None, x_vars=None, 
                     y_vars=None, kind='scatter', diag_kind='auto'
                     , markers=None, height=2.5, aspect=1, corner=False, dropna=False, plot_kws=None, 
                     diag_kws=None, grid_kws=None, size=None)
    
EXAMPLE:The kind parameter determines both the diagonal and off-diagonal plotting style. 
    Several options are available, including using kdeplot() to draw KDEs:

sns.pairplot(penguins, kind="kde")

    FROM https://seaborn.pydata.org/generated/seaborn.pairplot.html
        
        

# Drop useless cols

# update columns ex dealing categorical columns ( factorisarion and dummies )
# https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
# Pivot table / Group by as example
# explode

IndentationError: unexpected indent (435076705.py, line 16)

# Classification

In [50]:
# Joao -> create a system loop to test the algorithms

# Logistic regression -> François
# Logistic regression + standard deviation ? -> François
# SVM -> Joao
# Decision tree
# KNNeighbours
# pipeline -> joana -> for KNN & decision tree 
# pipeline -> Fabien -> for SVM

# Grid search ?
# Confusion matrix ?
# Cross validation ?

In [2]:
# Classification methods
##Logistic regression
from sklearn.linear_model import LogisticRegression
## K neighbors
from sklearn.neighbors import KNeighborsClassifier
## Decision tree
from sklearn.tree import DecisionTreeClassifier
## Support vector machine
from sklearn import svm

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

# train and test
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import cross_val_score, GridSearchCV, RandomizedSearchCV, train_test_split

In [6]:
# Data base to test
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic['survived'] = titanic['survived'].apply(lambda x: 'did not survive' if x == 0 else 'survived')
titanic.dropna(inplace=True)
# I select only the number to set the features in the following code
X = titanic.select_dtypes("number")

# then the target
y = titanic["survived"]

In [40]:

models = [{'alg': KNeighborsClassifier(), 
           'param' : {'n_neighbors' : list(range(2,20)), 'weights': ['uniform', 'distance'], 'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute']}},
          {'alg': DecisionTreeClassifier(),
           'param': {'max_depth': list(range(1, 20)), 'min_samples_leaf': list(range(1, 20)), 'criterion': ["gini", "entropy"]}},          
          #insert new model 
          {'alg': Pipeline([('scaler', StandardScaler()), ('knn', KNeighborsClassifier())]),'param': {'knn__n_neighbors' : list(range(2,20))}},
          {'alg': Pipeline([('scaler', StandardScaler()), ('dtc', DecisionTreeClassifier())]), 'param': {'dtc__max_depth' : list(range(1,20)), 'dtc__min_samples_leaf': list(range(1,20))}},
          {'alg': Pipeline([('scaler', StandardScaler()), ('svm', svm.SVC())]), 'param': {"svm__kernel":["linear", "poly", "rbf", "sigmoid"], "svm__degree":list(range(1,20)), "svm__gamma":["scale", "auto"], "svm__decision_function_shape":["ovo", "ovr"] }},
          {"alg": LogisticRegression(), "param": {"random_state": list(range(2,10)), "max_iter": list(range(10000, 10010)), "solver": ["newton-cg", "lbfgs", "liblinear", "sag", "saga"]} }
         ]   
# overall ml project
ml = {'metric': 'accuracy', 'models': models}

In [46]:
for model in ml['models']:
    # model is a dictionary
    rando = RandomizedSearchCV(model['alg'], model['param'], scoring = ml['metric'])
    rando.fit(X,y)
    model['accuracy'] = rando.best_score_
    model['best_param'] = rando.best_params_

# We can get the best model by accuracy from the loop
ml['models'].sort(key=lambda x: x["accuracy"], reverse=True)
ml['models'][0]

{'alg': LogisticRegression(),
 'param': {'random_state': [2, 3, 4, 5, 6, 7, 8, 9],
  'max_iter': [10000,
   10001,
   10002,
   10003,
   10004,
   10005,
   10006,
   10007,
   10008,
   10009],
  'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']},
 'accuracy': 0.703003003003003,
 'best_param': {'solver': 'lbfgs', 'random_state': 6, 'max_iter': 10000}}

We can keep grid search but mandatory for decision tree

Joao works first on the algorithm then add the other works

# NLP

In [ ]:
import nltk
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import plotly.express as px
from ast import literal_eval
from wordcloud import WordCloud
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
# library to import text inb html
from urllib import request
from bs4 import BeautifulSoup

# Read the HTML from the URL
url = "https://en.wikipedia.org/wiki/Deep-water_soloing"
html = request.urlopen(url).read()

#regex = r"[>](.*?)[<\/]"

# Get text (clean html) using BeautifulSoup get_text method
sentences = BeautifulSoup(html).get_text()
#print(sentence)
# Tokenize or get words
tokens = nltk.word_tokenize(sentences)
#df = pd.DataFrame(tokens, columns=["words"])

In [ ]:
# Function to change string array 
get_tokens_list = lambda x: literal_eval(x) if type(x) == str else x

In [ ]:
# this list allow us to set which columns to upload
#col_list = ['words']

In [ ]:
nltk.download('popular')
stop_words = nltk.corpus.stopwords.words("english") + ['"', "'", "'s", "-", "_",",","--",".", "of", "the"]

In [ ]:
# df_nlp = df[col_list].copy()
# data frame to test
df_nlp = pd.DataFrame(tokens, columns=["words"])
df_nlp.fillna(" ", inplace=True)

In [ ]:
# Get freq words from critics consensus
df_nlp["X"] = df_nlp["words"].apply(lambda sentence: [w.lower() for w in nltk.word_tokenize(sentence)])
freq = nltk.FreqDist(df_nlp["X"].sum())
# Data Frame word list
df_tokens = pd.DataFrame.from_dict(freq, orient='index')
df_tokens.columns = ['Frequency']
df_tokens.index.name = 'Term'

In [ ]:
# Get freq clean words from critics consensus
df_nlp["X_clean"] = df_nlp["X"].apply(lambda tokens: [ w for w in tokens if w.lower() not in stop_words ])
freq_clean = nltk.FreqDist(df_nlp["X_clean"].sum())
# Data Frame clean word list
df_words = pd.DataFrame.from_dict(freq_clean, orient='index')
df_words.columns = ['Frequency']
df_words.index.name = 'Term'

In [ ]:
porter = PorterStemmer()
df_nlp["X_stem"] = df_nlp["X_clean"].apply(lambda words: [porter.stem(word.lower()) for word in words] )
# change to dataFrame to see better final results
df_stem = pd.DataFrame.from_dict(nltk.FreqDist(df_nlp["X_stem"].sum()), orient='index')
df_stem.columns = ['Frequency']
df_stem.index.name = 'Term'

In [ ]:
wnl = WordNetLemmatizer()
df_nlp["X_lem"] = df_nlp["X_clean"].apply(lambda words: [wnl.lemmatize(word.lower()) for word in words] )
df_lem = pd.DataFrame.from_dict(nltk.FreqDist(df_nlp["X_lem"].sum()), orient='index')
df_lem.columns = ['Frequency']
df_lem.index.name = 'Term'

In [ ]:
list_freq = [
    {"X": df_nlp["X"], "title": "tokens"},
    {"X": df_nlp["X_clean"], "title": "words"},
    {"X": df_nlp["X_stem"], "title": "PorterStemmer"},
    {"X": df_nlp["X_lem"], "title": "WordNetLemmatizer"}    
]

# Create a matrix with vectorise of any alpha word longer than 2 caracters
def get_count(X, name = "", max_features=20, stop_words=stop_words):
    vectorizer = CountVectorizer(max_features=max_features, stop_words=stop_words )
    text_matrix = vectorizer.fit_transform(X.apply(lambda wlist: " ".join(wlist)))
    df_matrix_neg = pd.DataFrame(text_matrix.toarray(), columns = vectorizer.get_feature_names_out())
    df_sum_matrix_neg = pd.DataFrame(df_matrix_neg.sum().sort_values(ascending=False), columns = ["count"])
    
    fig = plt.subplots(figsize=(13,7))
    ax1 = plt.subplot(2,2,1)
    ax2 = plt.subplot(2,2,2)
    ax1.set(title=f"Count words for {name}")
    df_sum_matrix_neg.plot(kind="bar", ax = ax1)
    #initial text
    wordcloud_neg = WordCloud(width=300, height=300, max_font_size=200, min_font_size=10)
    wordcloud_neg.generate_from_frequencies(df_matrix_neg.sum())
    ax2.imshow(wordcloud_neg, interpolation="bilinear")
    ax2.axis('off')
    ax2.set(title=f"{name}'s wordcloud")
    plt.margins(x=0, y=0)

for freq in list_freq:
    get_count(freq["X"], name = freq["title"])

# Linear regression

In [ ]:
# François
from sklearn.linear_model import LogisticRegression

# Unsupervise algorithm

## KNearest Neighbours

## Clustering

In [ ]:
from sklearn.cluster import KMeans
from sklearn import metrics
from scipy.spatial.distance import cdist

In [ ]:
X = df_iris.select_dtypes("numbers")
X

In [ ]:
K = range(2, 10)
inertias = []
for k in K:
    # Building and fitting the model
    kmeanModel = KMeans(n_clusters=k).fit(X)
    kmeanModel.fit(X)
    inertias.append(kmeanModel.inertia_)
 
plt.plot(K, inertias)

In [ ]:
silhouette = []
for k in K:
    modelKM = KMeans(n_clusters=k)
    modelKM.fit(X)
    silhouette.append(round(metrics.silhouette_score(X, modelKM.labels_), 4))

plt.plot(K, silhouette)

## PCA

In [ ]:
# Fabien