# Import the data

In [ ]:
import pandas as pd

link = "https://raw.githubusercontent.com/murpi/wilddata/master/quests/kc_house_data.csv"
#dateparser = lambda x: datetime.strptime(x, "%Y%m%dT%H%M%S")
df = pd.read_csv(link)
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Explore Data Analyse

In [2]:
# Info
# Describe
# Duplicate

# Fill nan (at least 10%)
# Drop or not duplicate / Nan value

# Merge or join (make sure we have enough data)

DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False
, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

#outer join
EXAMPLE: outer_merged = pd.merge(precip_one_station, climate_temp, how="outer", on=["STATION", "DATE"] )
    
  FROM  https://realpython.com/pandas-merge-join-and-concat/
    
# Correlation (heatmap)

DataFrame.corr(method='pearson', min_periods=1)
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html
    
EXAMPLE:  x.corr(y, method='spearman')  

 x.corr(y, method='kendall')

FROM https://realpython.com/numpy-scipy-pandas-correlation-python/
    
HEATMAP 

seaborn.heatmap(data, *, vmin=None, vmax=None, cmap=None, 
                center=None, 
                robust=False, annot=None, 
                fmt='.2g', 
                annot_kws=None, linewidths=0, linecolor='white', cbar=True, cbar_kws=None, 
                cbar_ax=None, square=False, xticklabels='auto', yticklabels='auto', 
                mask=None, ax=None, **kwargs)


    
    EXAMPLE: Plot a heatmap for data centered on 0 with a diverging colormap:

normal_data = np.random.randn(10, 12)
ax = sns.heatmap(normal_data, center=0)

FROM https://seaborn.pydata.org/generated/seaborn.heatmap.html
    
    
# pairplot

# Drop useless cols

# update columns ex dealing categorical columns ( factorisarion and dummies )
# https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
# Pivot table / Group by as example
# explode

IndentationError: unexpected indent (3234532678.py, line 16)

# Classification

In [ ]:
# Joao -> create a system loop to test the algorithms

# Logistic regression -> François
# Logistic regression + standard deviation ? -> François
# SVM -> Joao
# Decision tree
# KNNeighbours
# pipeline -> joana -> for KNN & decision tree 
# pipeline -> Fabien -> for SVM

# Grid search ?
# Confusion matrix ?
# Cross validation ?

We can keep grid search but mandatory for decision tree

Joao works first on the algorithm then add the other works

# NLP

In [ ]:
import nltk
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import plotly.express as px
from ast import literal_eval
from wordcloud import WordCloud
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
# Function to change string array 
get_tokens_list = lambda x: literal_eval(x) if type(x) == str else x

In [ ]:
col_list = []

In [ ]:
nltk.download('popular')

df_nlp = df[[col_list]].copy()

df_nlp.fillna(" ", inplace=True)
stop_words = nltk.corpus.stopwords.words("english") + ['"', "'", "'s", "-", "_",",","--",".", "of", "the"]

In [ ]:
# Get freq words from critics consensus
df_nlp["X"] = df_nlp.apply(lambda sentence: [w.lower() for w in nltk.word_tokenize(sentence)])
freq = nltk.FreqDist(df_nlp["X"].sum())
# Data Frame word list
df_tokens = pd.DataFrame.from_dict(freq, orient='index')
df_tokens.columns = ['Frequency']
df_tokens.index.name = 'Term'

In [ ]:
# Get freq clean words from critics consensus
df_nlp["X_clean"] = df_nlp["X"].apply(lambda tokens: [ w for w in tokens if w.lower() not in stop_words ])
freq_clean = nltk.FreqDist(df_nlp["X_clean"].sum())
# Data Frame clean word list
df_words = pd.DataFrame.from_dict(freq_clean, orient='index')
df_words.columns = ['Frequency']
df_words.index.name = 'Term'

In [ ]:
porter = PorterStemmer()
df_nlp["X_stem"] = df_nlp["X_clean"].apply(lambda words: [porter.stem(word.lower()) for word in words] )
# change to dataFrame to see better final results
df_stem = pd.DataFrame.from_dict(nltk.FreqDist(movies[~movies["X_stem"].isna()]["X_stem"].sum()), orient='index')
df_stem.columns = ['Frequency']
df_stem.index.name = 'Term'

# Linear regression

In [ ]:
# François

# Unsupervise algorithm

## KNearest Neighbours

## Clustering

## PCA

In [ ]:
# Fabien