# Import the data

In [2]:
import pandas as pd

link = "https://raw.githubusercontent.com/murpi/wilddata/master/quests/kc_house_data.csv"
#dateparser = lambda x: datetime.strptime(x, "%Y%m%dT%H%M%S")
df = pd.read_csv(link)
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Explore Data Analyse

In [6]:
# Info

df.info()

# Describe
df.describe()

# Duplicate
df.drop_duplicates(inplace=True)

# Fill nan (at least 10%)
 ###to get an overal picture of the values for each column
df_size=df.shape[0]
print(df_size)
column_list=[]
total_na_list=[]
percentage_na_list=[]

for column in df.columns:
    column_list.append(column)
    
    total_na= df[column].isna().sum()
    total_na_list.append(total_na)
    percentage_na= round((total_na/df_size)*100,2)
    percentage_na_list.append(percentage_na) 
    
df_na=pd.DataFrame({"columns": column_list, "Amount of NA's": total_na_list, "% of NA's": percentage_na_list})
df_na

#check the number of NA's per column 


# Drop or not duplicate / Nan value

# Merge or join (make sure we have enough data)

# Correlation (heatmap)
# pairplot

# Drop useless cols

# update columns ex dealing categorical columns ( factorisarion and dummies )
# https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
# Pivot table / Group by as example
# explode

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21609 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.6+ MB

id          date             price     bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  zipcode  lat      long      sqft_living15  sqft_lot15
1000102     20140916T000000  280000.0  6         3.00       2400         9373      2.0     0           0     3          7      2400        0              1991      0             98002    47.3262  -122.214  2060           7316          1
6324000090  20150511T000000  210000.0  2         1.00       990          8140      1.0     0           0     1          6      990         0              1910      0             98116    47.5828  -122.382  2150           5000          1
6329000380  20140619T000000  319950.0  2         1.00       920          8341      1.0     0           0     3          7      920         0              1939      0             98146    47.5015  -122.380  2330           9792          1
6329000190  20140729T000000  750000.0  4         1.75       2520         21834     1.0     1           4     3          8      1420        1100           1960      0             98146    47.4996  -122.378  1700           8100          1
6329000185  20150329T000000  540000.0  3         2.50       2600         23361     1.5     1           4     3          8      2150        450            1912      0             98146    47.4997  -122.379  1700           14700         1
                                                                                                                                                                                                                                          ..
2767603649  20140730T000000  520000.0  3         2.25       1210         1250      3.0     0           0     3          8      1210        0              2014      0             98107    47.6722  -122.384  1780           5000          1
2767603615  20140903T000000  481000.0  2         2.25       1290         1137      3.0     0           0     3          8      1290        0              2007      0             98107    47.6718  -122.382  1290           1332          1
2767603612  20150113T000000  489000.0  2         2.25       1290         1334      3.0     0           0     3          8      1290        0              2007      0             98107    47.6719  -122.382  1350           1334          1
            20140512T000000  500000.0  2         2.25       1290         1334      3.0     0           0     3          8      1290        0              2007      0             98107    47.6719  -122.382  1350           1334          1
9900000190  20141030T000000  268950.0  3         1.00       1320         8100      1.0     0           0     3          6      880         440            1943      0             98166    47.4697  -122.351  1000           8100          1
Length: 21613, dtype: int64

In [29]:
df_size=df.shape[0]
print(df_size)
column_list=[]
total_na_list=[]
percentage_na_list=[]

for column in df.columns:
    column_list.append(column)
    
    total_na= df[column].isna().sum()
    total_na_list.append(total_na)
    percentage_na= round((total_na/df_size)*100,2)
    percentage_na_list.append(percentage_na) 
    
df_na=pd.DataFrame({"columns": column_list, "Amount of NA's": total_na_list, "% of NA's": percentage_na_list})
df_na

21613

          columns  Amount of NA's  % amount of NA's
0              id               0              0.00
1            date               0              0.00
2           price               4              0.02
3        bedrooms               0              0.00
4       bathrooms               0              0.00
5     sqft_living               0              0.00
6        sqft_lot               0              0.00
7          floors               0              0.00
8      waterfront               0              0.00
9            view               0              0.00
10      condition               0              0.00
11          grade               0              0.00
12     sqft_above               0              0.00
13  sqft_basement               0              0.00
14       yr_built               0              0.00
15   yr_renovated               0              0.00
16        zipcode               0              0.00
17            lat               0              0.00
18           long               0              0.00
19  sqft_living15               0              0.00
20     sqft_lot15               0              0.00

In [27]:
column_list=[]
for column in df.columns:
    column_list.append(column)
    
print(column_list)

['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

# Classification

In [ ]:
# Joao -> create a system loop to test the algorithms

# Logistic regression -> François
# Logistic regression + standard deviation ? -> François
# SVM -> Joao
# Decision tree
# KNNeighbours
# pipeline -> joana -> for KNN & decision tree 
# pipeline -> Fabien -> for SVM

# Grid search ?
# Confusion matrix ?
# Cross validation ?

We can keep grid search but mandatory for decision tree

Joao works first on the algorithm then add the other works

# NLP

In [ ]:
import nltk
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import plotly.express as px
from ast import literal_eval
from wordcloud import WordCloud
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
# Function to change string array 
get_tokens_list = lambda x: literal_eval(x) if type(x) == str else x

In [ ]:
col_list = []

In [ ]:
nltk.download('popular')

df_nlp = df[[col_list]].copy()

df_nlp.fillna(" ", inplace=True)
stop_words = nltk.corpus.stopwords.words("english") + ['"', "'", "'s", "-", "_",",","--",".", "of", "the"]

In [ ]:
# Get freq words from critics consensus
df_nlp["X"] = df_nlp.apply(lambda sentence: [w.lower() for w in nltk.word_tokenize(sentence)])
freq = nltk.FreqDist(df_nlp["X"].sum())
# Data Frame word list
df_tokens = pd.DataFrame.from_dict(freq, orient='index')
df_tokens.columns = ['Frequency']
df_tokens.index.name = 'Term'

In [ ]:
# Get freq clean words from critics consensus
df_nlp["X_clean"] = df_nlp["X"].apply(lambda tokens: [ w for w in tokens if w.lower() not in stop_words ])
freq_clean = nltk.FreqDist(df_nlp["X_clean"].sum())
# Data Frame clean word list
df_words = pd.DataFrame.from_dict(freq_clean, orient='index')
df_words.columns = ['Frequency']
df_words.index.name = 'Term'

In [ ]:
porter = PorterStemmer()
df_nlp["X_stem"] = df_nlp["X_clean"].apply(lambda words: [porter.stem(word.lower()) for word in words] )
# change to dataFrame to see better final results
df_stem = pd.DataFrame.from_dict(nltk.FreqDist(movies[~movies["X_stem"].isna()]["X_stem"].sum()), orient='index')
df_stem.columns = ['Frequency']
df_stem.index.name = 'Term'

# Linear regression

### Univariate Linear Regression

In [ ]:
# Displaying data points and regregression line

import matplotlib.pyplot as plt
import seaborn as sns

sns.regplot(data=df_weather, x='DATA', y='PREDICTION', line_kws={"color": "red"})
plt.suptitle('Regression: Max temperatures / Sun hours')
plt.show()

In [ ]:
from sklearn.linear_model import LinearRegression

# First of all, you have to define 2 series :
# X-axis : the correlated column
X = df_weather[['CORRELATED_COL']] 

# Y-axis : the column to predict
y = df_weather['PREDICTED_COL'] 

# Training the model
model_LR = LinearRegression().fit(X, y)

# Coefficient, the "a" in equation "aX + b"
model_LR.coef_

# Interception, the "b" in equation "aX + b"
model_LR.intercept_

# Prediction of one value
model_LR.predict([[10]])

# Prediction of multiple values
df_predict['PREDICTED_COL'] = model_LR.predict(df_weather[['CORRELATED_COL']])

### Multivariate Linear Regression

In [ ]:
import plotly.express as px

# 3D plot with 2 correlated columns and predicted column
px.scatter_3d(x = 'CORRELATED_COL_1', 
              y = 'CORRELATED_COL_2', 
              z= 'PREDICTED_COL', 
              data_frame=df_weather)

In [ ]:
from sklearn.linear_model import LinearRegression

# Fitting and predicting
model_LR = LinearRegression().fit(X, y)
df_predict['PREDICTED_COL'] = model_LR.predict(df_weather[['CORRELATED_COL_1','CORRELATED_COL_2']])

# R2 score
score = model_LR.score(X, y)

### Global Linear Regression with split samples

In [ ]:
from sklearn.model_selection import train_test_split

X = df_dataset[['CORRELATED_COL_1','CORRELATED_COL_2']]
y = df_dataset['PREDICTED_COL']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, train_size = 0.75)

model_LR = LinearRegression().fit(X_train, y_train)

# Compring both scores :
print("\nScore for the Train dataset :", model_LR.score(X_train, y_train))
print("Score for the Test dataset :", model_LR.score(X_test, y_test))

# Unsupervise algorithm

## KNearest Neighbours

## Clustering

## PCA

In [ ]:
# Fabien